**/*.tfstate
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate.backup
**/*.out
*.tar.gz
**/*.tar.zst
**/preflight.sh
**/*.zip
**/checksums.txt
**/*.log
**/extract-terraform.sh
**/on_failure.sh
~/
.DS_Store
tmp
zarf-sbom
.idea
setenv-*.sh
run
eksctl
test-out.sh
bigbang.dev.cert
bigbang.dev.key
