
name: DUBBD AWS

on:
  pull_request:
    branches:
      - main

jobs:
  eksctl:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2


      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Show AWS User
        run: |


      - name: Install Zarf
        uses: defenseunicorns/setup-zarf@main
        with:
          version: v0.25.0
          download-init-package: true

      - name: Login to Registry1
        uses: docker/login-action@v1
        with:
          registry: registry1.dso.mil
          username: ${{ secrets.REGISTRY1_USERNAME }}
          password: ${{ secrets.REGISTRY1_PASSWORD }}
    
      - name: Package EKSCTL 
        run: zarf package create --confirm
        working-directory: .github/workflows/eks

      - name: Create EKS cluster
        run: zarf package deploy zarf-package-distro-eks-multi.tar.zst --confirm --set cluster_name=aws-${GITHUB_SHA:0:7}
        working-directory: .github/workflows/eks
        id: create-cluster
        # Capture the output of the command as an environment variable
        env:
          OIDC: |
            $(aws eks describe-cluster --name aws-${GITHUB_SHA:0:7} --query "cluster.identity.oidc" --output text | cut -d '/' -f 5)

        # eventually have zarf deploy   \
      - name: Show Cluster
        run: |
          kubectl get nodes

      - name: Zarf init
        run: |
          zarf init -a amd64 --components=git-server --confirm

      - name: Create DUBBD
        run: zarf package create --confirm
        working-directory: aws
        timeout-minutes: 60

      
      - name: Deploy DUBBD-AWS
        run: zarf package deploy zarf-package-*.tar.zst --confirm --set eks_oidc_provider_arn=${{ env.OIDC }}
        working-directory: aws
        timeout-minutes: 60

      - name: Remove DUBBD-AWS
        run: zarf package remove zarf-package-*.tar.zst --confirm
        working-directory: aws
        timeout-minutes: 60

      - name: Teardown EKS cluster
        if: always()
        # can't do a zarf package remove since there's no kubernetes cluster.
        run: |
          ./eksctl delete cluster -f config.yaml --disable-nodegroup-eviction --wait
        working-directory: .github/workflows/eks

